<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ttgis.education.mapper.RuldMapper" >
  <resultMap id="BaseResultMap" type="com.ttgis.education.entity.Ruld" >
    <id column="RULD_ID" property="ruldId" jdbcType="VARCHAR" />
    <result column="COURSE_ID" property="courseId" jdbcType="VARCHAR" />
    <result column="RULD_NAME" property="ruldName" jdbcType="VARCHAR" />
    <result column="RULD_TIME" property="ruldTime" jdbcType="INTEGER" />
    <result column="RULD_YXTIME" property="ruldYxtime" jdbcType="VARCHAR" />
    <result column="RULD_BITS" property="ruldBits" jdbcType="INTEGER" />
    <result column="RULD_ANSWERS" property="ruldAnswers" jdbcType="INTEGER" />
    <result column="RULD_TOTALSCORE" property="ruldTotalscore" jdbcType="DOUBLE" />
    <result column="RULD_NAME1_3" property="ruldName13" jdbcType="VARCHAR" />
    <result column="RULD_SCORE1_3" property="ruldScore13" jdbcType="DOUBLE" />
    <result column="RULD_QUIZNUM1_3" property="ruldQuiznum13" jdbcType="INTEGER" />
    <result column="RULD_NAME1_4" property="ruldName14" jdbcType="VARCHAR" />
    <result column="RULD_SCORE1_4" property="ruldScore14" jdbcType="DOUBLE" />
    <result column="RULD_QUIZNUM1_4" property="ruldQuiznum14" jdbcType="INTEGER" />
    <result column="RULD_NAME1_M" property="ruldName1M" jdbcType="VARCHAR" />
    <result column="RULD_SCORE1_M" property="ruldScore1M" jdbcType="DOUBLE" />
    <result column="RULD_QUIZNUM1_M" property="ruldQuiznum1M" jdbcType="INTEGER" />
     <result column="RULD_NAME1_5M" property="ruldName15M" jdbcType="VARCHAR" />
    <result column="RULD_SCORE1_5M" property="ruldScore15M" jdbcType="DOUBLE" />
    <result column="RULD_QUIZNUM1_5M" property="ruldQuiznum15M" jdbcType="INTEGER" />
    <result column="RULD_NAME2" property="ruldName2" jdbcType="VARCHAR" />
    <result column="RULD_SCORE2" property="ruldScore2" jdbcType="DOUBLE" />
    <result column="RULD_QUIZNUM2" property="ruldQuiznum2" jdbcType="INTEGER" />
    <result column="RULD_NAME3" property="ruldName3" jdbcType="VARCHAR" />
    <result column="RULD_SCORE3" property="ruldScore3" jdbcType="DOUBLE" />
    <result column="RULD_QUIZNUM3" property="ruldQuiznum3" jdbcType="INTEGER" />
    <result column="RULD_NAME4" property="ruldName4" jdbcType="VARCHAR" />
    <result column="RULD_SCORE4" property="ruldScore4" jdbcType="DOUBLE" />
    <result column="RULD_QUIZNUM4" property="ruldQuiznum4" jdbcType="INTEGER" />
    <result column="RULD_DEL" property="ruldDel" jdbcType="INTEGER" />
    <result column="RULD_AT" property="ruldAt" jdbcType="TIMESTAMP" />
    <result column="RULD_NOTE" property="ruldNote" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ttgis.education.entity.Ruld" extends="BaseResultMap" >
    <result column="RULD_NOTE" property="ruldNote" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RULD_ID, COURSE_ID, RULD_NAME, RULD_TIME, RULD_YXTIME, RULD_BITS, RULD_ANSWERS, RULD_TOTALSCORE, 
    RULD_NAME1_3, RULD_SCORE1_3, RULD_QUIZNUM1_3, RULD_NAME1_4, RULD_SCORE1_4, RULD_QUIZNUM1_4, 
    RULD_NAME1_M, RULD_SCORE1_M, RULD_QUIZNUM1_M,RULD_NAME1_5M, RULD_SCORE1_5M, RULD_QUIZNUM1_5M, RULD_NAME2, RULD_SCORE2, RULD_QUIZNUM2, 
    RULD_NAME3, RULD_SCORE3, RULD_QUIZNUM3, RULD_NAME4, RULD_SCORE4, RULD_QUIZNUM4, RULD_DEL, 
    RULD_AT
  </sql>
  <sql id="Blob_Column_List" >
    RULD_NOTE
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from RULD
    where RULD_ID = #{ruldId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from RULD
    where RULD_ID = #{ruldId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ttgis.education.entity.Ruld" >
    insert into RULD (RULD_ID, COURSE_ID, RULD_NAME, 
      RULD_TIME, RULD_YXTIME, RULD_BITS, 
      RULD_ANSWERS, RULD_TOTALSCORE, RULD_NAME1_3, 
      RULD_SCORE1_3, RULD_QUIZNUM1_3, RULD_NAME1_4, 
      RULD_SCORE1_4, RULD_QUIZNUM1_4, RULD_NAME1_M, 
      RULD_SCORE1_M, RULD_QUIZNUM1_M, RULD_NAME1_5M, 
      RULD_SCORE1_5M, RULD_QUIZNUM1_5M,RULD_NAME2, 
      RULD_SCORE2, RULD_QUIZNUM2, RULD_NAME3, 
      RULD_SCORE3, RULD_QUIZNUM3, RULD_NAME4, 
      RULD_SCORE4, RULD_QUIZNUM4, RULD_DEL, 
      RULD_AT, RULD_NOTE)
    values (#{ruldId,jdbcType=VARCHAR}, #{courseId,jdbcType=VARCHAR}, #{ruldName,jdbcType=VARCHAR}, 
      #{ruldTime,jdbcType=INTEGER}, #{ruldYxtime,jdbcType=VARCHAR}, #{ruldBits,jdbcType=INTEGER}, 
      #{ruldAnswers,jdbcType=INTEGER}, #{ruldTotalscore,jdbcType=DOUBLE}, #{ruldName13,jdbcType=VARCHAR}, 
      #{ruldScore13,jdbcType=DOUBLE}, #{ruldQuiznum13,jdbcType=INTEGER}, #{ruldName14,jdbcType=VARCHAR}, 
      #{ruldScore14,jdbcType=DOUBLE}, #{ruldQuiznum14,jdbcType=INTEGER}, #{ruldName1M,jdbcType=VARCHAR}, 
      #{ruldScore1M,jdbcType=DOUBLE}, #{ruldQuiznum1M,jdbcType=INTEGER}, #{ruldName2,jdbcType=VARCHAR}, 
      #{ruldScore2,jdbcType=DOUBLE}, #{ruldQuiznum2,jdbcType=INTEGER}, #{ruldName3,jdbcType=VARCHAR}, 
      #{ruldScore3,jdbcType=DOUBLE}, #{ruldQuiznum3,jdbcType=INTEGER}, #{ruldName4,jdbcType=VARCHAR}, 
      #{ruldScore4,jdbcType=DOUBLE}, #{ruldQuiznum4,jdbcType=INTEGER}, #{ruldDel,jdbcType=INTEGER}, 
      #{ruldAt,jdbcType=TIMESTAMP}, #{ruldNote,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ttgis.education.entity.Ruld" >
    insert into RULD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ruldId != null" >
        RULD_ID,
      </if>
      <if test="courseId != null" >
        COURSE_ID,
      </if>
      <if test="ruldName != null" >
        RULD_NAME,
      </if>
      <if test="ruldTime != null" >
        RULD_TIME,
      </if>
      <if test="ruldYxtime != null" >
        RULD_YXTIME,
      </if>
      <if test="ruldBits != null" >
        RULD_BITS,
      </if>
      <if test="ruldAnswers != null" >
        RULD_ANSWERS,
      </if>
      <if test="ruldTotalscore != null" >
        RULD_TOTALSCORE,
      </if>
      <if test="ruldName13 != null" >
        RULD_NAME1_3,
      </if>
      <if test="ruldScore13 != null" >
        RULD_SCORE1_3,
      </if>
      <if test="ruldQuiznum13 != null" >
        RULD_QUIZNUM1_3,
      </if>
      <if test="ruldName14 != null" >
        RULD_NAME1_4,
      </if>
      <if test="ruldScore14 != null" >
        RULD_SCORE1_4,
      </if>
      <if test="ruldQuiznum14 != null" >
        RULD_QUIZNUM1_4,
      </if>
      <if test="ruldName1M != null" >
        RULD_NAME1_M,
      </if>
      <if test="ruldScore1M != null" >
        RULD_SCORE1_M,
      </if>
      <if test="ruldQuiznum1M != null" >
        RULD_QUIZNUM1_M,
      </if>
       <if test="ruldName15M != null" >
        RULD_NAME1_5M,
      </if>
      <if test="ruldScore15M != null" >
        RULD_SCORE1_5M,
      </if>
      <if test="ruldQuiznum15M != null" >
        RULD_QUIZNUM1_5M,
      </if>
      <if test="ruldName2 != null" >
        RULD_NAME2,
      </if>
      <if test="ruldScore2 != null" >
        RULD_SCORE2,
      </if>
      <if test="ruldQuiznum2 != null" >
        RULD_QUIZNUM2,
      </if>
      <if test="ruldName3 != null" >
        RULD_NAME3,
      </if>
      <if test="ruldScore3 != null" >
        RULD_SCORE3,
      </if>
      <if test="ruldQuiznum3 != null" >
        RULD_QUIZNUM3,
      </if>
      <if test="ruldName4 != null" >
        RULD_NAME4,
      </if>
      <if test="ruldScore4 != null" >
        RULD_SCORE4,
      </if>
      <if test="ruldQuiznum4 != null" >
        RULD_QUIZNUM4,
      </if>
      <if test="ruldDel != null" >
        RULD_DEL,
      </if>
      <if test="ruldAt != null" >
        RULD_AT,
      </if>
      <if test="ruldNote != null" >
        RULD_NOTE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ruldId != null" >
        #{ruldId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="ruldName != null" >
        #{ruldName,jdbcType=VARCHAR},
      </if>
      <if test="ruldTime != null" >
        #{ruldTime,jdbcType=INTEGER},
      </if>
      <if test="ruldYxtime != null" >
        #{ruldYxtime,jdbcType=VARCHAR},
      </if>
      <if test="ruldBits != null" >
        #{ruldBits,jdbcType=INTEGER},
      </if>
      <if test="ruldAnswers != null" >
        #{ruldAnswers,jdbcType=INTEGER},
      </if>
      <if test="ruldTotalscore != null" >
        #{ruldTotalscore,jdbcType=DOUBLE},
      </if>
      <if test="ruldName13 != null" >
        #{ruldName13,jdbcType=VARCHAR},
      </if>
      <if test="ruldScore13 != null" >
        #{ruldScore13,jdbcType=DOUBLE},
      </if>
      <if test="ruldQuiznum13 != null" >
        #{ruldQuiznum13,jdbcType=INTEGER},
      </if>
      <if test="ruldName14 != null" >
        #{ruldName14,jdbcType=VARCHAR},
      </if>
      <if test="ruldScore14 != null" >
        #{ruldScore14,jdbcType=DOUBLE},
      </if>
      <if test="ruldQuiznum14 != null" >
        #{ruldQuiznum14,jdbcType=INTEGER},
      </if>
      <if test="ruldName1M != null" >
        #{ruldName1M,jdbcType=VARCHAR},
      </if>
      <if test="ruldScore1M != null" >
        #{ruldScore1M,jdbcType=DOUBLE},
      </if>
      <if test="ruldQuiznum1M != null" >
        #{ruldQuiznum1M,jdbcType=INTEGER},
      </if>
       <if test="ruldName15M != null" >
        #{ruldName15M,jdbcType=VARCHAR},
      </if>
      <if test="ruldScore15M != null" >
        #{ruldScore15M,jdbcType=DOUBLE},
      </if>
      <if test="ruldQuiznum15M != null" >
        #{ruldQuiznum15M,jdbcType=INTEGER},
      </if>
      <if test="ruldName2 != null" >
        #{ruldName2,jdbcType=VARCHAR},
      </if>
      <if test="ruldScore2 != null" >
        #{ruldScore2,jdbcType=DOUBLE},
      </if>
      <if test="ruldQuiznum2 != null" >
        #{ruldQuiznum2,jdbcType=INTEGER},
      </if>
      <if test="ruldName3 != null" >
        #{ruldName3,jdbcType=VARCHAR},
      </if>
      <if test="ruldScore3 != null" >
        #{ruldScore3,jdbcType=DOUBLE},
      </if>
      <if test="ruldQuiznum3 != null" >
        #{ruldQuiznum3,jdbcType=INTEGER},
      </if>
      <if test="ruldName4 != null" >
        #{ruldName4,jdbcType=VARCHAR},
      </if>
      <if test="ruldScore4 != null" >
        #{ruldScore4,jdbcType=DOUBLE},
      </if>
      <if test="ruldQuiznum4 != null" >
        #{ruldQuiznum4,jdbcType=INTEGER},
      </if>
      <if test="ruldDel != null" >
        #{ruldDel,jdbcType=INTEGER},
      </if>
      <if test="ruldAt != null" >
        #{ruldAt,jdbcType=TIMESTAMP},
      </if>
      <if test="ruldNote != null" >
        #{ruldNote,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ttgis.education.entity.Ruld" >
    update RULD
    <set >
      <if test="courseId != null" >
        COURSE_ID = #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="ruldName != null" >
        RULD_NAME = #{ruldName,jdbcType=VARCHAR},
      </if>
      <if test="ruldTime != null" >
        RULD_TIME = #{ruldTime,jdbcType=INTEGER},
      </if>
      <if test="ruldYxtime != null" >
        RULD_YXTIME = #{ruldYxtime,jdbcType=VARCHAR},
      </if>
      <if test="ruldBits != null" >
        RULD_BITS = #{ruldBits,jdbcType=INTEGER},
      </if>
      <if test="ruldAnswers != null" >
        RULD_ANSWERS = #{ruldAnswers,jdbcType=INTEGER},
      </if>
      <if test="ruldTotalscore != null" >
        RULD_TOTALSCORE = #{ruldTotalscore,jdbcType=DOUBLE},
      </if>
      <if test="ruldName13 != null" >
        RULD_NAME1_3 = #{ruldName13,jdbcType=VARCHAR},
      </if>
      <if test="ruldScore13 != null" >
        RULD_SCORE1_3 = #{ruldScore13,jdbcType=DOUBLE},
      </if>
      <if test="ruldQuiznum13 != null" >
        RULD_QUIZNUM1_3 = #{ruldQuiznum13,jdbcType=INTEGER},
      </if>
      <if test="ruldName14 != null" >
        RULD_NAME1_4 = #{ruldName14,jdbcType=VARCHAR},
      </if>
      <if test="ruldScore14 != null" >
        RULD_SCORE1_4 = #{ruldScore14,jdbcType=DOUBLE},
      </if>
      <if test="ruldQuiznum14 != null" >
        RULD_QUIZNUM1_4 = #{ruldQuiznum14,jdbcType=INTEGER},
      </if>
      <if test="ruldName1M != null" >
        RULD_NAME1_M = #{ruldName1M,jdbcType=VARCHAR},
      </if>
      <if test="ruldScore1M != null" >
        RULD_SCORE1_M = #{ruldScore1M,jdbcType=DOUBLE},
      </if>
      <if test="ruldQuiznum1M != null" >
        RULD_QUIZNUM1_M = #{ruldQuiznum1M,jdbcType=INTEGER},
      </if>
      <if test="ruldName15M != null" >
        RULD_NAME1_5M = #{ruldName15M,jdbcType=VARCHAR},
      </if>
      <if test="ruldScore15M != null" >
        RULD_SCORE1_5M = #{ruldScore15M,jdbcType=DOUBLE},
      </if>
      <if test="ruldQuiznum15M != null" >
        RULD_QUIZNUM1_5M = #{ruldQuiznum15M,jdbcType=INTEGER},
      </if>
      <if test="ruldName2 != null" >
        RULD_NAME2 = #{ruldName2,jdbcType=VARCHAR},
      </if>
      <if test="ruldScore2 != null" >
        RULD_SCORE2 = #{ruldScore2,jdbcType=DOUBLE},
      </if>
      <if test="ruldQuiznum2 != null" >
        RULD_QUIZNUM2 = #{ruldQuiznum2,jdbcType=INTEGER},
      </if>
      <if test="ruldName3 != null" >
        RULD_NAME3 = #{ruldName3,jdbcType=VARCHAR},
      </if>
      <if test="ruldScore3 != null" >
        RULD_SCORE3 = #{ruldScore3,jdbcType=DOUBLE},
      </if>
      <if test="ruldQuiznum3 != null" >
        RULD_QUIZNUM3 = #{ruldQuiznum3,jdbcType=INTEGER},
      </if>
      <if test="ruldName4 != null" >
        RULD_NAME4 = #{ruldName4,jdbcType=VARCHAR},
      </if>
      <if test="ruldScore4 != null" >
        RULD_SCORE4 = #{ruldScore4,jdbcType=DOUBLE},
      </if>
      <if test="ruldQuiznum4 != null" >
        RULD_QUIZNUM4 = #{ruldQuiznum4,jdbcType=INTEGER},
      </if>
      <if test="ruldDel != null" >
        RULD_DEL = #{ruldDel,jdbcType=INTEGER},
      </if>
      <if test="ruldAt != null" >
        RULD_AT = #{ruldAt,jdbcType=TIMESTAMP},
      </if>
      <if test="ruldNote != null" >
        RULD_NOTE = #{ruldNote,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where RULD_ID = #{ruldId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ttgis.education.entity.Ruld" >
    update RULD
    set COURSE_ID = #{courseId,jdbcType=VARCHAR},
      RULD_NAME = #{ruldName,jdbcType=VARCHAR},
      RULD_TIME = #{ruldTime,jdbcType=INTEGER},
      RULD_YXTIME = #{ruldYxtime,jdbcType=VARCHAR},
      RULD_BITS = #{ruldBits,jdbcType=INTEGER},
      RULD_ANSWERS = #{ruldAnswers,jdbcType=INTEGER},
      RULD_TOTALSCORE = #{ruldTotalscore,jdbcType=DOUBLE},
      RULD_NAME1_3 = #{ruldName13,jdbcType=VARCHAR},
      RULD_SCORE1_3 = #{ruldScore13,jdbcType=DOUBLE},
      RULD_QUIZNUM1_3 = #{ruldQuiznum13,jdbcType=INTEGER},
      RULD_NAME1_4 = #{ruldName14,jdbcType=VARCHAR},
      RULD_SCORE1_4 = #{ruldScore14,jdbcType=DOUBLE},
      RULD_QUIZNUM1_4 = #{ruldQuiznum14,jdbcType=INTEGER},
      RULD_NAME1_M = #{ruldName1M,jdbcType=VARCHAR},
      RULD_SCORE1_M = #{ruldScore1M,jdbcType=DOUBLE},
      RULD_QUIZNUM1_M = #{ruldQuiznum1M,jdbcType=INTEGER},
      RULD_NAME1_5M = #{ruldName15M,jdbcType=VARCHAR},
      RULD_SCORE1_5M = #{ruldScore15M,jdbcType=DOUBLE},
      RULD_QUIZNUM1_5M = #{ruldQuiznum15M,jdbcType=INTEGER},
      RULD_NAME2 = #{ruldName2,jdbcType=VARCHAR},
      RULD_SCORE2 = #{ruldScore2,jdbcType=DOUBLE},
      RULD_QUIZNUM2 = #{ruldQuiznum2,jdbcType=INTEGER},
      RULD_NAME3 = #{ruldName3,jdbcType=VARCHAR},
      RULD_SCORE3 = #{ruldScore3,jdbcType=DOUBLE},
      RULD_QUIZNUM3 = #{ruldQuiznum3,jdbcType=INTEGER},
      RULD_NAME4 = #{ruldName4,jdbcType=VARCHAR},
      RULD_SCORE4 = #{ruldScore4,jdbcType=DOUBLE},
      RULD_QUIZNUM4 = #{ruldQuiznum4,jdbcType=INTEGER},
      RULD_DEL = #{ruldDel,jdbcType=INTEGER},
      RULD_AT = #{ruldAt,jdbcType=TIMESTAMP},
      RULD_NOTE = #{ruldNote,jdbcType=LONGVARCHAR}
    where RULD_ID = #{ruldId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ttgis.education.entity.Ruld" >
    update RULD
    set COURSE_ID = #{courseId,jdbcType=VARCHAR},
      RULD_NAME = #{ruldName,jdbcType=VARCHAR},
      RULD_TIME = #{ruldTime,jdbcType=INTEGER},
      RULD_YXTIME = #{ruldYxtime,jdbcType=VARCHAR},
      RULD_BITS = #{ruldBits,jdbcType=INTEGER},
      RULD_ANSWERS = #{ruldAnswers,jdbcType=INTEGER},
      RULD_TOTALSCORE = #{ruldTotalscore,jdbcType=INTEGER},
      RULD_NAME1_3 = #{ruldName13,jdbcType=VARCHAR},
      RULD_SCORE1_3 = #{ruldScore13,jdbcType=DOUBLE},
      RULD_QUIZNUM1_3 = #{ruldQuiznum13,jdbcType=INTEGER},
      RULD_NAME1_4 = #{ruldName14,jdbcType=VARCHAR},
      RULD_SCORE1_4 = #{ruldScore14,jdbcType=DOUBLE},
      RULD_QUIZNUM1_4 = #{ruldQuiznum14,jdbcType=INTEGER},
      RULD_NAME1_M = #{ruldName1M,jdbcType=VARCHAR},
      RULD_SCORE1_M = #{ruldScore1M,jdbcType=DOUBLE},
      RULD_QUIZNUM1_M = #{ruldQuiznum1M,jdbcType=INTEGER},
      RULD_NAME1_5M = #{ruldName15M,jdbcType=VARCHAR},
      RULD_SCORE1_5M = #{ruldScore15M,jdbcType=DOUBLE},
      RULD_QUIZNUM1_5M = #{ruldQuiznum15M,jdbcType=INTEGER},
      RULD_NAME2 = #{ruldName2,jdbcType=VARCHAR},
      RULD_SCORE2 = #{ruldScore2,jdbcType=DOUBLE},
      RULD_QUIZNUM2 = #{ruldQuiznum2,jdbcType=INTEGER},
      RULD_NAME3 = #{ruldName3,jdbcType=VARCHAR},
      RULD_SCORE3 = #{ruldScore3,jdbcType=DOUBLE},
      RULD_QUIZNUM3 = #{ruldQuiznum3,jdbcType=INTEGER},
      RULD_NAME4 = #{ruldName4,jdbcType=VARCHAR},
      RULD_SCORE4 = #{ruldScore4,jdbcType=DOUBLE},
      RULD_QUIZNUM4 = #{ruldQuiznum4,jdbcType=INTEGER},
      RULD_DEL = #{ruldDel,jdbcType=INTEGER},
      RULD_AT = #{ruldAt,jdbcType=TIMESTAMP}
    where RULD_ID = #{ruldId,jdbcType=VARCHAR}
  </update>
  
    <!--查询 -->
	<select id="selectCountByWhere" parameterType="com.ttgis.education.entity.Ruld"
		resultMap="BaseResultMap">
		select 
		 *,
    <include refid="Blob_Column_List" />
		from RULD where RULD_DEL = 1
			<if test="courseId != null">
				and COURSE_ID = #{courseId,jdbcType=VARCHAR}
			</if>
			<if test="ruldYxtime != null">
				and RULD_YXTIME >= #{ruldYxtime,jdbcType=VARCHAR}
			</if>
			order by RULD_AT desc
	</select>
	

	<!-- 分页显示 -->
	<select id="selectByWhere" parameterType="com.ttgis.education.entity.Ruld"
		resultMap="BaseResultMap">
		select
		*
		from (
		select *,ROW_NUMBER() OVER (ORDER BY RULD_AT desc) as r from
		RULD
		where RULD_DEL = 1
		<trim suffixOverrides=",">
			<if test="courseId != null">
				and COURSE_ID = #{courseId,jdbcType=VARCHAR}
			</if>
		</trim>
		) as t 
        <![CDATA[
            where r>#{begin} and r<=#{end}	
        ]]>
	</select>
	
</mapper>