<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ttgis.education.mapper.StatisticalMapper">
	<resultMap id="BaseResultMap" type="com.ttgis.education.entity.Statistical">
		<id column="STATISTICAL_ID" property="statisticalId" jdbcType="VARCHAR" />
		<result column="STUDENT_ID" property="studentId" jdbcType="VARCHAR" />
		<result column="BBS_ID" property="bbsId" jdbcType="VARCHAR" />
		<result column="REPLY_ID" property="replyId" jdbcType="VARCHAR" />
		<result column="STATISTICAL_TYPE" property="statisticalType"
			jdbcType="NUMERIC" />
		<result column="STATISTICAL_AT" property="statisticalAt"
			jdbcType="NVARCHAR" />
		<result column="STATISTICAL_DEL" property="statisticalDel"
			jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		STATISTICAL_ID, STUDENT_ID, BBS_ID, REPLY_ID,
		STATISTICAL_TYPE, STATISTICAL_AT,
		STATISTICAL_DEL
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from STATISTICAL
		where STATISTICAL_ID =
		#{statisticalId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		STATISTICAL
		where STATISTICAL_ID =
		#{statisticalId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.ttgis.education.entity.Statistical">
		insert into
		STATISTICAL
		(STATISTICAL_ID, STUDENT_ID,
		BBS_ID,
		REPLY_ID,
		STATISTICAL_TYPE,
		STATISTICAL_AT,
		STATISTICAL_DEL)
		values
		(#{statisticalId,jdbcType=VARCHAR},
		#{studentId,jdbcType=VARCHAR},
		#{bbsId,jdbcType=VARCHAR},
		#{replyId,jdbcType=VARCHAR},
		#{statisticalType,jdbcType=NUMERIC},
		#{statisticalAt,jdbcType=NVARCHAR},
		#{statisticalDel,jdbcType=NUMERIC})
	</insert>
	<insert id="insertSelective" parameterType="com.ttgis.education.entity.Statistical">
		insert into STATISTICAL
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="statisticalId != null">
				STATISTICAL_ID,
			</if>
			<if test="studentId != null">
				STUDENT_ID,
			</if>
			<if test="bbsId != null">
				BBS_ID,
			</if>
			<if test="replyId != null">
				REPLY_ID,
			</if>
			<if test="statisticalType != null">
				STATISTICAL_TYPE,
			</if>
			<if test="statisticalAt != null">
				STATISTICAL_AT,
			</if>
			<if test="statisticalDel != null">
				STATISTICAL_DEL,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="statisticalId != null">
				#{statisticalId,jdbcType=VARCHAR},
			</if>
			<if test="studentId != null">
				#{studentId,jdbcType=VARCHAR},
			</if>
			<if test="bbsId != null">
				#{bbsId,jdbcType=VARCHAR},
			</if>
			<if test="replyId != null">
				#{replyId,jdbcType=VARCHAR},
			</if>
			<if test="statisticalType != null">
				#{statisticalType,jdbcType=NUMERIC},
			</if>
			<if test="statisticalAt != null">
				#{statisticalAt,jdbcType=NVARCHAR},
			</if>
			<if test="statisticalDel != null">
				#{statisticalDel,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ttgis.education.entity.Statistical">
		update STATISTICAL
		<set>
			<if test="studentId != null">
				STUDENT_ID = #{studentId,jdbcType=VARCHAR},
			</if>
			<if test="bbsId != null">
				BBS_ID = #{bbsId,jdbcType=VARCHAR},
			</if>
			<if test="replyId != null">
				REPLY_ID = #{replyId,jdbcType=VARCHAR},
			</if>
			<if test="statisticalType != null">
				STATISTICAL_TYPE = #{statisticalType,jdbcType=NUMERIC},
			</if>
			<if test="statisticalAt != null">
				STATISTICAL_AT = #{statisticalAt,jdbcType=NVARCHAR},
			</if>
			<if test="statisticalDel != null">
				STATISTICAL_DEL = #{statisticalDel,jdbcType=NUMERIC},
			</if>
		</set>
		where STATISTICAL_ID = #{statisticalId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ttgis.education.entity.Statistical">
		update
		STATISTICAL
		set STUDENT_ID = #{studentId,jdbcType=VARCHAR},
		BBS_ID =
		#{bbsId,jdbcType=VARCHAR},
		REPLY_ID =
		#{replyId,jdbcType=VARCHAR},
		STATISTICAL_TYPE =
		#{statisticalType,jdbcType=NUMERIC},
		STATISTICAL_AT =
		#{statisticalAt,jdbcType=NVARCHAR},
		STATISTICAL_DEL =
		#{statisticalDel,jdbcType=NUMERIC}
		where STATISTICAL_ID =
		#{statisticalId,jdbcType=VARCHAR}
	</update>
	<update id="cancelPraise" parameterType="com.ttgis.education.entity.Statistical">
		update
		statistical
		set statistical_del = 0 where student_id =
		#{studentId,jdbcType=VARCHAR}
		<if test="replyId != null">
			and reply_id =
			#{replyId,jdbcType=VARCHAR}
		</if>
		<if test="bbsId != null">
			and bbs_id =
			#{bbsId,jdbcType=VARCHAR}
		</if>
	</update>
</mapper>